
/* 文字靠右 */
input[type="text"],input[type="number"],
input[type="text"]::placeholder, input[type="number"]::placeholder {        
    /* Firefox, Chrome, Opera */
    text-align: right;
}
/* 設定數字欄位寬度 */
input[type='number']{
    width: 3em;
} 
#pace_input1{
    width: 2.2em !important;
}
#pace_input2, #pace_input2::placeholder{
    width: 1.5em !important;
    text-align: left !important;
}

/* 取消數字欄位預設有的箭頭: 注意不同瀏覽器寫法不同 */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.indent-text {
    /* text-indent: 22px; */
    margin-left: 2em;
}

/* increment樣式取消底色&框線 */
.increment {
    border: none;
    background-color: white;
    text-align: left !important;
    width: auto !important;
}