
body {
	display: flex;
	justify-content: center;
	align-items: center;
    /* height: 90vh; */
    flex-direction: column;
    background-color: rgb(69, 117, 117);
    /* color: rgb(107, 189, 107); */
    color: rgb(237, 237, 222);
    font-family: Microsoft JhengHei;
    /* border: 2px solid red; */
    margin-top:10vh;
    padding: 0 10px;
    /* font-size:2em; */
}
.box {
    width: 95%;
    /* outline: 2px solid red; */
    margin: 5px;
    /* border: 2px solid blue; */
}

/* 文字靠右 */
input[type="text"],input[type="number"],
input[type="text"]::placeholder, input[type="number"]::placeholder {        
    /* Firefox, Chrome, Opera */
    text-align: right;
}
/* 設定數字欄位寬度 */
input[type='number']{
    width: 3em;
} 
#pace_input1{
    width: 2em !important;
}
#pace_input2, #pace_input2::placeholder{
    width: 2em !important;
    text-align: left !important;
}

/* 取消數字欄位預設有的箭頭: 注意不同瀏覽器寫法不同 */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.indent-text {
    /* text-indent: 22px; */
    margin-left: 2em;
}

/* increment樣式取消底色&框線 */
.increment {
    border: none;
    background-color: transparent;
    text-align: left !important;
    width: auto !important;
    color: rgb(189, 204, 204);
}



/* 圖片當按鈕 */
/* HIDE RADIO */
.hidden-radio { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
/* IMAGE STYLES */
.row {
    display: inline;
    margin-right: 0.5em;

    padding: 5px 0;
    cursor: pointer;
    /* display: flow; */
    /* outline: 2px solid black; */
    width: 100%;
    font-size: 1.5rem;
    border-radius: 15px;
    /* margin: 5px; */
    /* -webkit-text-stroke: 1px rgb(91, 155, 91); */
}
label {
    cursor: pointer;
}
input{
    vertical-align: middle;
    padding: 3px;
    font-size: 0.6em;
    margin-bottom: 5px;
    background-color: #BDCCCC;
    /* border: 2px solid rgb(233, 233, 173); */
}
label img {
    height: 0.9em;
    margin: 5px;
    vertical-align: text-bottom;
}



/* CHECKED STYLES */
[type=radio]:checked, [type=radio]:checked + div {
    /* outline: 2px solid #f00; */
    background-color: rgb(184, 108, 108);
}


input:focus {
    /* background-color: ivory; */
    /* background-color: #bdcccc; */
    background-color: rgb(233, 233, 173);    
    outline: transparent;
    /* border: 2px solid rgb(233, 233, 173); */
}

.footer a{
    color: rgb(204, 204, 204);
}





.left-right {
    overflow:hidden;
    height:200px;
    width:200px;
    position:relative;
    background-color:#333;
}
.slider {
    width:200px;
    height:200px;
    position:absolute;
    left:0;
    top:-200px;
    background-color:#000;
    color:#fff;
    transition:0.4s ease;
}

.left-right:hover .slider {
  top:0;
}


#dropdown {
    background-color: #BDCCCC;
    color: rgb(84, 84, 84);
    vertical-align: text-top;
    cursor: pointer;
    outline: transparent;
}