
/* 文字靠右 */
input[type="text"],input[type="number"],
input[type="text"]::placeholder, input[type="number"]::placeholder {        
    /* Firefox, Chrome, Opera */
    text-align: right;
}
/* 設定數字欄位寬度 */
input[type='number']{
    width: 5em;
} 
/* 取消數字欄位預設有的箭頭 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}